<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="d-flex flex-column-fluid">
        <div class="container">
            <div class="d-flex flex-row">
                <div class="flex-row-fluid">

                    <% orders.forEach(order => { %>
                    <% var totalPrice = 0; %>
                    <div class="card card-custom gutter-b">
                        <div class="card-header flex-wrap border-0 pt-6 pb-0">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder font-size-h3 text-dark">Order Id
                                    #<%= order._id %></span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th class="text-center">Qty</th>
                                            <th class="text-right">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% order.products.forEach(product => { %>
                                        <% totalPrice = totalPrice + product.qty * product.product.price; %>
                                        <tr>
                                            <td class="d-flex align-items-center font-weight-bolder">
                                                <div class="symbol symbol-60 flex-shrink-0 mr-4 bg-light">
                                                    <div class="symbol-label">
                                                        <img src="/<%= product.product.imageurl %>" width="50" />
                                                    </div>
                                                </div>
                                                <!--end::Symbol-->
                                                <a href="#" class="text-dark text-hover-primary">
                                                    <%= product.product.title %>
                                                </a>
                                            </td>
                                            <td class="text-center align-middle">
                                                <span class="mr-2 font-weight-bolder">
                                                    <%= product.qty %>
                                                </span>
                                            </td>
                                            <td class="text-right align-middle font-weight-bolder font-size-h5">
                                                ₹ <%= product.product.price %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                        <tr>
                                            <td colspan="1"></td>
                                            <td class="font-weight-bolder font-size-h4 text-right">Subtotal</td>
                                            <td class="font-weight-bolder font-size-h4 text-right">
                                                ₹ <%= totalPrice %></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="border-0 text-muted text-right pt-0">Excludes
                                                Delivery. GST Included</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="border-0 pt-10"> &nbsp; </td>
                                            <td colspan="2" class="border-0 text-right pt-10">
                                                <a href="/order/<%= order._id %>"
                                                    class="btn btn-success font-weight-bolder px-8">
                                                    Download Invoice</a>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/end.ejs') %>